<style>
    body {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
    }
    nav {

    }
    a {
        color: oklch(58.8% 0.158 241.966);
        transition:all;
        transition-duration: 300ms;
        &:hover {
            color: oklch(48.8% 0.243 264.376);
        }
        
    }
    footer {
        text-align: center;
        display: flex;
        flex-direction: row;
    }
    footer div {
        display: flex;
        flex-direction: column;
    }
</style>