<head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="author" content="{{ site.github_username }}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Huninn&display=swap" rel="stylesheet">
<script defer src="https://data.yuanhau.com/script.js" data-website-id="80fdfff7-4493-46fd-a8cb-07ca3a8110af"></script>
<script src="https://ryt.yhw.tw/api/script.js" data-site-id="b42f6fa62870" defer></script>
  </head>
