<html>
    {% include head.html %}
    {% include css.html %}
    <style>
    section.titlepage {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align:center;
        
    }
  </style>
  <body>
    {% include headers.html %}
    <section class="titlepage">
        <h1>Howard</h1>
    </section>
    {{ content }}
    <section>
        <h2>My Posts</h2>
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
    </section>
  </body>
</html>